In [1]:
a = 20

In [2]:
餐費 = 300

In [3]:
print(餐費)

300

In [7]:
三天餐費 = 餐費 * 3

In [8]:
print(三天餐費)

900

In [9]:
'''
a = 1
'''

'\na = 1\n'

In [18]:
週三溫度 = 33
週四溫度 = 32
週五溫度 = 33

In [19]:
週六溫度 = 33

In [20]:
四天溫度平均 = (週三溫度+週四溫度+週五溫度+週六溫度)/4

In [21]:
print(四天溫度平均)

32.75

In [23]:
週三溫度 , 週四溫度 , 週五溫度 , 週六溫度 = 40,35,36,37

In [26]:
日花費 = 300

In [30]:
月花費 = 日花費*30

In [32]:
print(月花費)

9000

In [34]:
周花費 = 日花費*7

In [36]:
月花費 = 日花費*4

In [37]:
print(月花費)

1200