In [1]:
print("0814")

0814

In [2]:
for j in range(1,5):
    print(j)
    for i in range(1,3):
        k = i *j
        print(j,"*",i,"=",k)

1
1 * 1 = 1
1 * 2 = 2
2
2 * 1 = 2
2 * 2 = 4
3
3 * 1 = 3
3 * 2 = 6
4
4 * 1 = 4
4 * 2 = 8

In [3]:
for j in range(2,10):
    print(j)
    for i in range(1,10):
        k = i *j
        print(j,"*",i,"=",k)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [6]:
for j in range(2,10):
    for i in range(1,10):
        k = i *j
        print("%d*%d=%2d" % (i,j,k),end=" ")
    print()

1*2= 2 2*2= 4 3*2= 6 4*2= 8 5*2=10 6*2=12 7*2=14 8*2=16 9*2=18
1*3= 3 2*3= 6 3*3= 9 4*3=12 5*3=15 6*3=18 7*3=21 8*3=24 9*3=27
1*4= 4 2*4= 8 3*4=12 4*4=16 5*4=20 6*4=24 7*4=28 8*4=32 9*4=36
1*5= 5 2*5=10 3*5=15 4*5=20 5*5=25 6*5=30 7*5=35 8*5=40 9*5=45
1*6= 6 2*6=12 3*6=18 4*6=24 5*6=30 6*6=36 7*6=42 8*6=48 9*6=54
1*7= 7 2*7=14 3*7=21 4*7=28 5*7=35 6*7=42 7*7=49 8*7=56 9*7=63
1*8= 8 2*8=16 3*8=24 4*8=32 5*8=40 6*8=48 7*8=56 8*8=64 9*8=72
1*9= 9 2*9=18 3*9=27 4*9=36 5*9=45 6*9=54 7*9=63 8*9=72 9*9=81

In [9]:
for j in range(2,10):
    for i in range(1,10):
        k = i *j
        print("%d*%d=%2d" % (j,i,j*i),end=" ")
    print()

2*1= 2 2*2= 4 2*3= 6 2*4= 8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
3*1= 3 3*2= 6 3*3= 9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
4*1= 4 4*2= 8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5*1= 5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6*1= 6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7*1= 7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8*1= 8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9*1= 9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [11]:
for i in range(1,5):
    if(i==4):
        break
    print(i,end=" ")

1 2 3

In [12]:
for i in range(1,5):
    if(i==4):
        continue
    print(i,end=" ")

1 2 3

In [14]:
for i in range(1,20):
    if i%7==0:
        print("能被7整除的數字:%d"%i)

能被7整除的數字:7
能被7整除的數字:14

In [15]:
for i in range(1,20):
    if i%2==0:
        continue
    print("奇數:%d"%i)

奇數:1
奇數:3
奇數:5
奇數:7
奇數:9
奇數:11
奇數:13
奇數:15
奇數:17
奇數:19

In [17]:
for i in range(1,20):
    if i%2!=0:
        print("找到第一個奇數:%d"%i)
    break

找到第一個奇數:1

In [18]:
a = int(input())
b = int(input())
for i in range(1,100):
    if i%a==0 and i%b==0:
        break
print(a,"和",b,"的最小公倍數=",i)

4 和 6 的最小公倍數= 12

In [19]:
a = int(input())
b = int(input())
for i in range(1,100):
    if i%a==0 and i%b==0:
        break
print(a,"和",b,"的最小公倍數=",i)

9 和 15 的最小公倍數= 45

In [20]:
n = int(input())
for i in range(1,n+1):
    if (i%5==0):
        continue
    print(i)

1
2
3
4

In [21]:
total = n = 0
while(n<10):
    n+=1
    total+=n
print(total)
#while需有終止條件，否則會持續進行(通常用於沒固定次數的情況)

55

In [22]:
#方法1
n = int(input())
if n>0:
    result=1
    i=1
    while i <=n:
        result*=i
        i+=1
    print(str(n)+"!="+str(result))
    #result用於返回函數執行結果

4!=24

In [33]:
#方法2
a = int(input("請輸入正整數的值"))
total=1
n=0
while n<a:
       n+=1
       total*=n
print("請輸入正整數的值:",a,)
print(a,'!=',total)

請輸入正整數的值: 6
6 != 720