In [4]:
print("0820")

0820

In [2]:
a =range(5)

In [3]:
print(list(a))

[0, 1, 2, 3, 4]

In [5]:
b = range(1,6)

In [6]:
print(list(b))

[1, 2, 3, 4, 5]

In [7]:
c = range(1,10,2)

In [8]:
print(list(c))

[1, 3, 5, 7, 9]

In [9]:
d = range(10,1,-2)

In [10]:
print(list(d))

[10, 8, 6, 4, 2]

In [11]:
list1 = [1,2,3,4,5]

In [12]:
print(list1)

[1, 2, 3, 4, 5]

In [13]:
list2 = ['香蕉','蘋果','橘子']

In [14]:
print(list2)

['香蕉', '蘋果', '橘子']

In [15]:
list3 = [1,'香蕉',True]

In [16]:
print(list3)

[1, '香蕉', True]

In [17]:
list4 = ['香蕉','蘋果','橘子']

In [18]:
print(list4[-1])
print(list4[-3])
print(list4[-4]) #錯誤，索引值超過範圍

橘子
香蕉

IndexError: list index out of range

In [19]:
print(list1[0])

1

In [20]:
print(list2[0])

香蕉

In [21]:
print(list2[2])

橘子

In [22]:
print(list1[-1])

5

In [23]:
print(list1[2])

3

In [24]:
print(list1[-5])

1

In [25]:
list5 = [['tone',1234]],[['mary','abcd']],[['davod','5678']]

In [26]:
print(list5[1])

[['mary', 'abcd']]

In [27]:
print(list5[0])

[['tone', 1234]]

In [28]:
print(list5[0][0])

['tone', 1234]

In [29]:
print(list5[1][0])

['mary', 'abcd']

In [30]:
g = int(input())
g1 = int(input())
g2 = int(input())
list6 = ['國文成績:','數學成績:','英文成績:']
print(list6[0],g,'分')
print(list6[1],g1,'分')
print(list6[2],g2,'分')

國文成績: 83 分
數學成績: 79 分
英文成績: 93 分

In [31]:
g = int(input())
g1 = int(input())
g2 = int(input())
print('國文成績:',g,'分','數學成績:',g1,'分','英文成績',g2,'分')

國文成績: 85 分 數學成績: 79 分 英文成績 93 分

In [32]:
list1 = ['香蕉','蘋果','橘子']
for s in list1:
    print(s,end=",")

香蕉,蘋果,橘子,

In [33]:
list2 = ['123','apple',True]
for s in list2:
    print(s,sep="\n")

123
apple
True

In [34]:
scores = [85,79,93]
print(len(scores))

3

In [35]:
scores = [85,79,93]
for i in range(len(scores)):
    print(scores[i])

85
79
93

In [36]:
scores = [85,79,93]
for i in range(len(scores)):
    print(scores[i])
name = ["Tom","Mary","Tony"]
for i in range(len(name)):
    print(name[i])

85
79
93
Tom
Mary
Tony

In [37]:
list8 = ['apple',' banana',' cake']
list8.reverse()
print(list8)

[' cake', ' banana', 'apple']

In [38]:
a='apple'' banana'' cake'
b='30 ''60 ''90 ''120 ''150 '
c='panda ''is '' cute ''and ''lovely'
d='one ''people ''emo '', ''two ''people ''wemo '
list.reverse()
print(list[0])
print(list[1])
print(list[2])
print(list[3])

TypeError: unbound method list.reverse() needs an argument

In [39]:
list7=['apple ','banana ','cake ']
list7.reverse()
print(list7)

['cake ', 'banana ', 'apple ']

In [40]:
#oj-15
a=input().split()
b=len(a)
for n in range(b,0,-1):
    print(a[n-1],end=" ")

cake banana apple

In [41]:
for a in range(0,100,5):
    print(a,end=',')

0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,

In [42]:
for b in range(1,200,4):
    print(b,end=',')

1,5,9,13,17,21,25,29,33,37,41,45,49,53,57,61,65,69,73,77,81,85,89,93,97,101,105,109,113,117,121,125,129,133,137,141,145,149,153,157,161,165,169,173,177,181,185,189,193,197,

In [44]:
for c in range(10,500,25):
    print(c,end=',')

10,35,60,85,110,135,160,185,210,235,260,285,310,335,360,385,410,435,460,485,

In [43]:
for d in range(15,19,1):
    print(d,end=',')

15,16,17,18,

In [45]:
for e in range(-10,-1,2):
    print(e,end=',')

-10,-8,-6,-4,-2,

In [46]:
#oj-30
a,b,c = input().split()
a1 = int(a)
b1 = int(b)
c1 = int(c)
for i in range(a1,b1,c1):
    print(i,end=",")

3,4,5,6,7,

In [14]:
#oj-32
a,b,c = input().split()
a1 = int(a)
b1 = int(b)
c1 = int(c)
n=range(a1,b1,c1)
print(list(n))

[3, 4, 5, 6, 7]

In [48]:
# 取得使用者輸入
start, end, step = map(int, input("請輸入起始值、終止值和間隔值（用空格分隔）：").split())

# 創建 range 對象並轉換為 list
result = list(range(start, end, step))

# 輸出結果
print(result)

[3, 4, 5, 6, 7]

In [19]:
for i in range(3):
    print(1,2,3)

1 2 3
1 2 3
1 2 3

In [21]:
#oj-重複列印文字

# 讀取輸入
input_str = "1 2 3"

# 將輸入字符串按空格拆分並組合成指定格式
output = " ".join([input_str.replace(" ", " ")] * 3)

print(output)

#join 方法將列表中的元素用空格（" "）連接起來
#[input_str.replace(" ", "")] 這部分會創建一個只有一個元素

1 2 3 1 2 3 1 2 3

In [30]:
#oj-將文字順序顛倒印出
word = input().split()
w=len(word)
for n in range(w,0,-1):
    print(word[n-1],end=" ")

banana orange apple

In [32]:
#oj-5

# 讀取用戶輸入
input_str = input("請輸入三個整數（用空格隔開）：")

# 將輸入字符串拆分並轉換為整數
numbers = list(map(int, input_str.split()))

# 找出三個數中的最小值
min_value = min(numbers)

# 打印最小值
print("三個數中的最小值是:", min_value)
#map 1.數據轉換：例如將字符串轉換為整數，或將浮點數四捨五入。
#map 2.批量處理:對數據集合中的每個元素進行相同的操作，比如計算一系列數字的平方或提取字母的大寫形式等

三個數中的最小值是: 10

In [34]:
#oj-5
n = input().split()
n1 = list(map(int,n))
min_v= min(n1)
print(min_v)

1

In [36]:
#oj-6
n = input().split()
n1 = list(map(float,n))
max_v= max(n1)
print(max_v)

30.9

In [60]:
#oj-10
n = int(input())
for i in range(1,n,-1):
    print(n,end=' ')

In [61]:
#oj-10
a = int(input())
b=0
while b<a:
    b+=1
    for n in range(1,b+1):
        print(n,end="")
    print(end='\n')

1
12
123
1234
12345
123456

In [69]:
#oj-11
import math

# 讀取用戶輸入的兩個整數
input_str = input()

# 將輸入字符串拆分為兩個數字並轉換為整數
a, b = map(int, input_str.split())

# 計算最大公因數
gcd = math.gcd(a, b)

# 輸出結果
print(f"{gcd}")

5

In [77]:
#oj-12
import math

def lcm(a,b):
    return abs(a*b)//math.gcd(a,b)
a, b = map(int, input_str.split())
input_str = input()
lcm_value = lcm(a,b)
print(f'{lcm_value}')

100

In [131]:
import math

def lcm(a, b):
    """計算兩數的最小公倍數"""
    return abs(a * b) // math.gcd(a, b)


# 讀取用戶輸入的兩個整數
input_str = input("請輸入兩個整數（用空格隔開）：")

# 將輸入字符串拆分為兩個數字並轉換為整數
a, b = map(int, input_str.split())

# 計算最小公倍數
lcm_value = lcm(a, b)

# 輸出結果
print(f'{lcm_value}')

20

In [124]:
#oj-13
a = input()
transformed_str = ""

# 遍歷字符串中的每個字符及其索引
for i, char in enumerate(a):
    if (i + 1) % 2 == 1:  # 奇數位置（從 1 開始計數）
        transformed_str += char.upper()
    else:  # 偶數位置
        transformed_str += char.lower()
print(transformed_str)

PaNdA

In [122]:
#oj-14
a,b,c=map(int, input().split())
if a+b>c and a+c>b:
    print("Valid")
else:
    print("Invalid")

Invalid

In [117]:
#oj-16
w = input()
w1=len(str(w))
w2= '*' * len(w)
print(w2)
print("total:",w1)

***********
total: 11

In [1]:
#oj-17
#def定義函數
def seconds_to_hms(seconds):
    # 計算時、分、秒
    hours = seconds // 3600
    minutes = (seconds % 3600) // 60
    seconds = seconds % 60

    # 補零，並轉換成字符串
    return f"{hours:02}:{minutes:02}:{seconds:02}"

def main():
    # 取得使用者輸入
    try:
        total_seconds = int(input("請輸入秒數："))
        if total_seconds < 0:
            print("秒數必須是非負數。")
        else:
            print(seconds_to_hms(total_seconds))
    except ValueError:
        print("請輸入有效的數字。")

if __name__ == "__main__":
    main()

01:04:05

In [78]:
#oj-18
year = int(input())
if year%4 == 0:
    if year%100 == 0:
        if year%400 == 0:
            print(f'{year} is leap year')
        else:
            print(f'{year} is common year')
    else:
        print(f'{year} is leap year')
else:
    print(f'{year} is common year')

2000 is leap year

In [80]:
#oj-19
n = int(input())
for i in range(n,10):
    for j in range(1,10):
        print('%d*%d=%d'%(i,j,i*j),end=" ")
    print()

9*1=9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [87]:
#oj-20
n = int(input())
sum = 0
for i in range(15,n+1):
    if(i%2==0):
        sum+=i
print(sum)

54

In [108]:
#oj-36
a = input()
print("Tku",a)

Tku peeyuan

In [109]:
#oj-37
a = input()
print(len(a))

5