In [1]:
print("0820")

0820

In [2]:
a = range(5)

In [3]:
print(list(a))

[0, 1, 2, 3, 4]

In [4]:
b = range(1,6)

In [5]:
print(list(b))

[1, 2, 3, 4, 5]

In [6]:
c = range(1,10,2)

In [7]:
print(list(c))

[1, 3, 5, 7, 9]

In [11]:
d = range(10,1,-2)

In [12]:
print(list(d))

[10, 8, 6, 4, 2]

In [13]:
list1 = [1,2,3,4,5]

In [14]:
print(list1)

[1, 2, 3, 4, 5]

In [15]:
list2 = ['香蕉','蘋果','橘子']

In [16]:
print(list2)

['香蕉', '蘋果', '橘子']

In [17]:
list3 = [1,'香蕉',True]

In [18]:
print(list3)

[1, '香蕉', True]

In [33]:
list4 = ['香蕉','蘋果','橘子']

In [34]:
print(list4[-1])
print(list4[-3])
print(list4[-4]) #錯誤，索引值超過範圍

橘子
香蕉

IndexError: list index out of range

In [19]:
print(list1[0])

1

In [20]:
print(list2[0])

香蕉

In [21]:
print(list2[2])

橘子

In [22]:
print(list1[-1])

5

In [23]:
print(list1[2])

3

In [29]:
print(list1[-5])

1

In [30]:
list5 = [['tone',1234]],[['mary','abcd']],[['davod','5678']]

In [32]:
print(list5[1])

[['mary', 'abcd']]

In [35]:
print(list5[0])

[['tone', 1234]]

In [36]:
print(list5[0][0])

['tone', 1234]

In [89]:
print(list5[1][0])

['mary', 'abcd']

In [49]:
g = int(input())
g1 = int(input())
g2 = int(input())
list6 = ['國文成績:','數學成績:','英文成績:']
print(list6[0],g,'分')
print(list6[1],g1,'分')
print(list6[2],g2,'分')

國文成績: 85 分
數學成績: 79 分
英文成績: 93 分

In [66]:
g = int(input())
g1 = int(input())
g2 = int(input())
print('國文成績:',g,'分','數學成績:',g1,'分','英文成績',g2,'分')

國文成績: 85 分 數學成績: 79 分 英文成績 93 分

In [56]:
list1 = ['香蕉','蘋果','橘子']
for s in list1:
    print(s,end=",")

香蕉,蘋果,橘子,

In [63]:
list2 = ['123','apple',True]
for s in list2:
    print(s,sep="\n")

123
apple
True

In [67]:
scores = [85,79,93]
print(len(scores))

3

In [68]:
scores = [85,79,93]
for i in range(len(scores)):
    print(scores[i])

85
79
93

In [69]:
scores = [85,79,93]
for i in range(len(scores)):
    print(scores[i])
name = ["Tom","Mary","Tony"]
for i in range(len(name)):
    print(name[i])

85
79
93
Tom
Mary
Tony

In [242]:
list8 = ['apple',' banana',' cake']
list8.reverse()
print(list8)

[' cake', ' banana', 'apple']

In [249]:
a='apple'' banana'' cake'
b='30 ''60 ''90 ''120 ''150 '
c='panda ''is '' cute ''and ''lovely'
d='one ''people ''emo '', ''two ''people ''wemo '
list.reverse()
print(list[0])
print(list[1])
print(list[2])
print(list[3])

7

IndexError: list index out of range

In [243]:
list7=['apple ','banana ','cake ']
list7.reverse()
print(list7)

['cake ', 'banana ', 'apple ']

In [202]:
a=input().split()
b=len(a)
for n in range(b,0,-1):
    print(a[n-1],end=" ")

cake banana apple

In [189]:
for a in range(0,100,5):
    print(a,end=',')

0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,1,5,9,13,17,21,25,29,33,37,41,45,49,53,57,61,65,69,73,77,81,85,89,93,97,101,105,109,113,117,121,125,129,133,137,141,145,149,153,157,161,165,169,173,177,181,185,189,193,197,

In [190]:
for b in range(1,200,4):
    print(b,end=',')

1,5,9,13,17,21,25,29,33,37,41,45,49,53,57,61,65,69,73,77,81,85,89,93,97,101,105,109,113,117,121,125,129,133,137,141,145,149,153,157,161,165,169,173,177,181,185,189,193,197,

In [191]:
for c in range(10,500,25):
    print(c,end=',')

10,35,60,85,110,135,160,185,210,235,260,285,310,335,360,385,410,435,460,485,

In [192]:
for d in range(15,19,1):
    print(d,end=',')

15,16,17,18,

In [193]:
for e in range(-10,-1,2):
    print(e,end=',')

-10,-8,-6,-4,-2,

In [212]:
a,b,c = input().split()
a1 = int(a)
b1 = int(b)
c1 = int(c)
for i in range(a1,b1,c1):
    print(i,end=",")

0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,

In [245]:
a,b,c = input().split()
a1 = int(a)
b1 = int(b)
c1 = int(c)
n=range(a1,b1,c1)
print(list(n))

TypeError: 'list' object is not callable