In [1]:
print("0821")

0821

In [6]:
#oj-21
a = input()
b = "Ans"
c = b +" "+ a
print(c)

Ans 1234

In [13]:
#oj-22
a = input().split()

#將每個字串轉換為整數
#map用於需要對序列中的每個元素進行相同操作
a = map(int,a)

b = sum(a)
print(b)

38

In [22]:
#oj-23
a = input()
b = len(a)
print(b)

16

In [26]:
#oj-24
n = int(input())
if n>=10:
    sum_n = 0
    for i in range(10,n+1):
        sum_n +=i
    print(sum_n)

165

In [38]:
#oj-5
n = input().split()
n1 = list(map(int,n))
min_v= min(n1)
print(min_v)

3

In [ ]:
#oj-8

In [ ]:
#oj-9

In [37]:
#oj-10
a = int(input())
b=0
while b<a:
    b+=1
    for n in range(1,b+1):
        print(n,end="")
    print(end='\n')

1
12
123
1234
12345

In [36]:
#oj-14
a,b,c=map(int, input().split())
if a+b>c and a+c>b:
    print("Valid")
else:
    print("Invalid")

Valid

In [34]:
#oj-18
year = int(input())
if year%4 == 0:
    if year%100 == 0:
        if year%400 == 0:
            print(f'{year} is leap year')
        else:
            print(f'{year} is common year')
    else:
        print(f'{year} is leap year')
else:
    print(f'{year} is common year')

2000 is leap year

In [35]:
#oj-19
n = int(input())
for i in range(n,10):
    for j in range(1,10):
        print('%d*%d=%d'%(i,j,i*j),end=" ")
    print()

9*1=9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [29]:
#oj-21
a = input()
b = "Ans"
result = b +" "+a
print(result)

Ans 9487

In [28]:
#oj-22
a = input().split()
a = map(int,a)
b = sum(a)
print(b)

21

In [27]:
#oj-23
a = input()
b = len(a)
print(b)

17

In [33]:
#oj-26
g = int(input())
if 90<=g<=100:
    print(g,'is A')
elif 80<=g<=89:
    print(g,'is B')
elif 70<=g<=79:
    print(g,'is C')
elif 60<=g<=69:
    print(g,'is D')
elif 0<=g<=59:
    print(g,'is E')
else:
    print(g,'is error')

120 is error

In [41]:
#oj-29
p = int(input())
if p>=100000:
    p1=p*0.8
    print('80% discount is',p1)
elif 50000<=p<=100000:
    p2=p*0.85
    print('85% discount is',p2)
elif 30000<=p<=50000:
    p3=p*0.90
    print('90% discount is',p3)
elif 10000<=p<=30000:
    p4=p*0.95
    print('95% discount is',p4)
else:
    p5=p+0
    print('no discount is',p5)

no discount is 9999

In [45]:
#oj-30
a,b,c = map(int,input().split())
for i in range(a,b,c):
    print(i,end=",")

#oj-30-2
a,b,c = input().split()
a1 = int(a)
b1 = int(b)
c1 = int(c)
for i in range(a1,b1,c1):
    print(i,end=",")

0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,

In [47]:
#oj-32
a,b,c = map(int,input().split())
n = range(a,b,c)
print(list(n))

[3, 4, 5, 6, 7]

In [50]:
#oj-33
a,b,c = map(int,input().split())
if a==b or b==c or a==c:
    print('Valid')
else:
    print('Invalid')

Valid

In [72]:
#oj-34
m = int(input())
if m<=60:
    print('park time:',':',m,'m')
    print('pay:',20,'money',sep=' ')
elif 61<=m<=420:
    h=m//60
    m1=m-h*60
    print('park time:',h,'h',':',m1,'m')
    print('pay:',20+(40*h),'money',sep=' ')
else:
    h=m//60
    m1=m-h*60
    print('park time:',h,'h',':',m1,'m')
    print('pay:',300,'money',sep=' ')

park time: 11 h : 9 m
pay: 300 money

In [ ]:
#oj-35

In [ ]:
#oj-40

In [ ]:
#oj-41

In [ ]:
#oj-43