In [1]:
print("0822")

0822

In [7]:
#1
a = float(input())
b = float(input())
c = a%b
print(c)

9.899999999999997

In [9]:
#2
a1,b1 = input().split()
a = int(a1)
b = int(b1)
for i in range(a,b+1):
    if i>100:
        d=[int(t) for t in str(i)]
        if d[2]**3+d[1]**3+d[0]**3==i:
            print(i,end=",")
        else:
            continue

370,371,407,

In [10]:
#3
t = float(input())
b = float(input())
h = float(input())
a = (t+b)*h/2
print('t=%s b=%s h=%s area=%s'%(t,b,h,a))

t=2.0 b=5.0 h=4.8 area=16.8

In [16]:
#4
m = int(input())
a = m//60
b = m%60
print('park time:',a,'h:',b,'m',sep='')
if m<60:
    print('pay:20 money',sep='')
elif 61<=m<=420:
    print('pay:',20+a*40,' money',sep='')
elif m>=421:
    print('pay:300 money',sep='')

park time:4h:29m
pay:180 money

In [18]:
#5
a,b,c = map(int,input().split())
r = range(a,b,c)
print(list(r))

[3, 4, 5, 6, 7]

In [19]:
#6
year = int(input())
if year%4 == 0:
    if year%100 == 0:
        if year%400 == 0:
            print(f'{year} is leap year')
        else:
            print(f'{year} is common year')
    else:
        print(f'{year} is leap year')
else:
    print(f'{year} is common year')

2000 is leap year

In [20]:
#7
g = int(input())
if 90<=g<=100:
    print(g,'is A')
elif 80<=g<=89:
    print(g,'is B')
elif 70<=g<=79:
    print(g,'is C')
elif 60<=g<=69:
    print(g,'is D')
elif 0<=g<=59:
    print(g,'is E')
else:
    print(g,'is error')

120 is error

In [23]:
#8
a,b,c = map(int,input().split())
for i in range(a,b,c):
    print(i,end=",")

15,16,17,18,

In [27]:
#9
a = int(input())
for i in range(1,a+1):
    print('*'*i)

*
**
***

In [28]:
#10
n = int(input())
for i in range(n,10):
    for j in range(1,10):
        print('%d*%d=%d'%(i,j,i*j),end=" ")
    print()

9*1=9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81